body{
    font-family: Arial, Helvetica, sans-serif;
}
#main-hadding{
    color: #fff;
    background-color: #aa08f5;
}
.main-section{
    color: #fff;
    background-color: #000;
}
p{
    color: #ff6347;
}