body{
    font-family: Arial, Helvetica, sans-serif;
}
#hadding{
    color: tomato;
}
.text-green{
    color: rgb(15, 110, 39);
}
.blog-contant{
    color: green;
}
.bd-dark{
    background-color: darkblue;
}
.text-red{
    color: red;
}